<div>
	<h1>Dashboard</h1>
	<a href="{{ '/admin/utilisateurs' }}">Utilisateurs</a>
	<a href="{{ '/admin/animaux' }}">Animaux</a>
	<a href="{{ '/admin/races' }}">Races</a>
	<a href="{{ '/admin/meal' }}">Meal</a>
	<a href="{{ '/admin/veterinaryreport' }}">VeterinaryReport</a>
	<a href="{{ '/admin/comment' }}">Commentaires</a>

</div>
