{% extends '/admin/index.html.twig' %}

{% block title %}PictureAnimal{% endblock %}

{% block content %}
    <h1>PictureAnimal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture_animal.id }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ picture_animal.picture }}</td>
            </tr>
            <tr>
                <th>DescriptionAlt</th>
                <td>{{ picture_animal.descriptionAlt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_picture_animal_index') }}">back to list</a>

    <a href="{{ path('app_picture_animal_edit', {'id': picture_animal.id}) }}">edit</a>

    {{ include('picture_animal/_delete_form.html.twig') }}
{% endblock %}
