{{ form_start(form) }}
    {{ form_row(form.q) }}

    <h4>Employé</h4>
    {{ form_row(form.employee) }}

    <h4>Animal</h4>
    {{ form_row(form.animal) }}

    <button type='submit' class='btn btn-primary w-100'>Filtrer</button>

{{ form_end(form) }}