{{ form_start(form) }}
    {{ form_row(form.q) }}

    <h4>Employé</h4>
    {{ form_row(form.employee) }}

    <h4>Habitat</h4>
    {{ form_row(form.habitat) }}

    <h4>Race</h4>
    {{ form_row(form.race) }}


    <button type='submit' class='btn btn-primary w-100'>Filtrer</button>

{{ form_end(form) }}