{% extends '/admin/index.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block content %}
    <h1>Meal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.id }}</td>
                <td>{{ meal.quantity }}</td>
                <td>{{ meal.date ? meal.date|date('Y-m-d') : '' }}</td>
                <td>{{ meal.time ? meal.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_meal_new') }}">Create new</a>
{% endblock %}
